<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fondamenti di Automatica</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>   
    <form action = "http://localhost:5000/fdt/result" method = "POST">
        <label for="transfer_function">Funzione di Trasferimento:</label><br>
        <input type="text" id="transfer_function" name="transfer_function"><br>
        <p><input type = "submit" value = "submit" /></p>
     </form>
</body>
</html>